* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
html {
    font-size: 62.5%;
}
body {
    text-rendering: text-transform: capitalize;;
}
:root {
    --main-color: hsl(228, 45%, 44%);
}